<!-- NAVIGATION -->
<% if (!user) { %>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lgnavbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" href="/">UTNG MAPS</a>
          <div class="d-flex">
            <ul class="nav justify-content-end">
              <li class="nav-item me-2">
                <a class="nav-link active " aria-current="page" href="/signin">Signin</a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link " href="/signup">Signup</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
<% } else { %>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <div class="navbar-brand">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon" ></span>
              </button>
              <a class="navbar-brand" aria-current="page" href="/home">UTNG MAPS</a>
          </div>          
          <div class="conatiner">
            <ul class="nav justify-content-end">
              <li class="nav-item me-2">
                <a class="nav-link" href="/profile"><i class="fas fa-user" title="<%= user.email %>"></i></a>
              </li>
              <li class="nav-item me-2">
                <a class="nav-link active" aria-current="page" href="/logout"><i class="fas fa-sign-in"></i></a>
              </li>
              <br>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu de Opciones</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <% if (user.admin) { %>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: black;" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: black;" href="/table">Lista de Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: black;">Lista de Peticiones</a>
          </li>
        </ul>
      </div>
    <% }else { %>
      <div class="offcanvas-body ">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" style="color: black;" href="/home">Home</a>
          </li>
        </ul>
      </div>
    <% } %>
  </div>
  <br>
  <br>
  <br>
<% } %>
<%if (signinMessage && signinMessage.length >0) {%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Upss Ocurrio un problema!</strong> <%= signinMessage %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  
<% } %>
<%if (signupMessage && signupMessage.length >0) {%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Upss Ocurrio un problema!</strong> <%= signupMessage %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<%if (createMessage && createMessage.length >0) {%>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success Full!</strong> <%= createMessage %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
<div class="row">
  <div class="col"> 
    <%- body %>
  </div>
</div>


